[Desktop Entry]
Name=Welcome
Name[nl]=Welkom
GenericName=SolydXK Welcome
GenericName[nl]=SolydXK Welkom
Comment=SolydXK Welcome
Comment[nl]=SolydXK Welkom
Exec=solydxk-welcome
Icon=solydxk
Terminal=False
Type=Application
Categories=System;
