Source: solydxk-welcome
Section: admin
Priority: optional
Maintainer: Arjen Balfoort <arjenbalfoort@solydxk.com>
Build-Depends: debhelper (>= 9)
  , python3 (>= 3.2)
  , po4a
  , intltool
  , transifex-client
  , translate-toolkit
X-Python3-Version: >= 3.2
Standards-Version: 3.9.6
Vcs-Git: git@github.com:SolydXK/solydxk-welcome.git
Vcs-Browser: https://github.com/solydxk/solydxk-welcome

Package: solydxk-welcome
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
  , python3
  , python3-gi
  , gir1.2-webkit-3.0
  , gir1.2-gtk-3.0
Conflicts: solydxk-sws
Replaces: solydxk-sws
Description: Welcome screen for SoldyXK
